
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1140px;
}
a{
    text-decoration: none;
}

$primary-color: #FFF8F3;
$secondary-color:#FD6E0A;
$white-color: #FFFFFF;
$text-color:#474747;

